i.icon {
    font-size: 2em;
    color: khaki;
    padding-top: 10px;
}

.container.main {
    margin: 7em;
}

#inline-form {
    display: inline;
}

p {
    font-size: 1.3rem;
}

.date-text {
    font size: 1rem;
}